<div class="col-sm-4 text-center contact-menu mj">
  <img src="/images/maddi.jpg" class="img-thumbnail">
  <h3>Maddison Joyce</h3>
  <h4><a href="tel:+61420360967">+61 420 360 967</a></h4>
  <h4><a href="mailto:maddi@maddijoyce.com">maddi@maddijoyce.com</a></h4>
  <p>{{ site.description }}</p>
  <div class="contact-points text-left">
    <h3><a href="http://twitter.com/maddij">
      <i class="fa fa-lg fa-twitter-square"></i> Twitter
    </a></h3>
    <h3><a href="http://github.com/maddijoyce">
      <i class="fa fa-lg fa-github-square"></i> GitHub
    </a></h3>
    <h3><a href="http://linkedin.com/in/maddijoyce">
      <i class="fa fa-lg fa-linkedin-square"></i> LinkedIn
    </a></h3>
  </div>
</div>